
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">MY Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">JAVA</h3>
                    <p class="paragraph-text center-align">
                       -기본문법 및 이해<br>
                       -은행계좌 프로그램 구현(계좌개설,입금,출금,조회,삭제)
                    </p>
                    <h3 class="center-align skills-subsection">자바스크립트</h3>
                    <p class="paragraph-text center-align">
                       -기본 문법의 이해 및 활용가능<br>
                       -함수기능 구현가능<br>
                       -유효성 검사(이벤트처리)
                    </p>
                    <h3 class="center-align skills-subsection">Oracle</h3>
                    <p class="paragraph-text center-align">
                       -기본 SQL쿼리 작성 가능<br>
                       -웹과 데이터베이스 연동가능<br>
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Spring Framework</h3>
                    <p class="paragraph-text center-align">
                       - 스프링 MVC 모델 게시판 구현(페이징,답글,검색,업로드/다운로드,사용권한)
                    </p>
                    <h3 class="center-align skills-subsection">Android</h3>
                    <p class="paragraph-text center-align">
                       - 안드로이드 개요<br>
                       - 안드로이드 기본구성<br>
                    </p>
                    <h3 class="center-align skills-subsection">GitHub</h3>
                    <p class="paragraph-text center-align">
                       - 협업을 위한 형성관리 가능
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>